.header {
    // font-family: $font-Mont;
    
    display: grid;
    grid-template-columns: 250px 3.5fr 1fr;
    height: 80px;
    background-color: $color-grey;
    z-index: 10;

    &__logo {
    height: 180px;
    width: 180px;
    grid-column: 1/2;
    margin-top: -50px;

    }
    
    &__links {
        color: $color-blue;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        margin-top: 18px;
        justify-self: center;
        perspective: 1000000px;
        
    }
}



.header-link {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;

    perspective: 1000px;

    & > * {
        grid-row: 1/-1;
        grid-column: 1/-1;
        transition: all .3s ease;
    }

    &__title {
        color: $color-blue;
        font-size: 1.5em;
    }

    &__icon {
        opacity: 0;
        transform: rotateY(180deg);
        color: $color-blue;
        font-size: 1.7em;
        color: $color-blue;
        text-decoration: none;
        &:hover {
        color: $color-blue;
        text-decoration: none;
    }
    }

    &:hover {
        border-bottom: 2px solid $color-red;
        .header-link {
            &__title {
                opacity: 0;
                transform: rotateY(-180deg);
            }
            &__icon {
                opacity: 1;
                transform: rotateY(0deg);
            }
        }
    }
}