

 
.header {
    // font-family: $font-Mont;
    
    display: grid;
    grid-template-columns: 250px 3.5fr 1fr;
    height: 80px;
    background-color: $color-white;
    z-index: 10;

    &__logo {
    height: 150px;
    width: 150px;
    grid-column: 1/2;
    margin-top: -50px;

    }
    
    &__links {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        margin-top: 18px;
        justify-self: center;
        perspective: 1000000px;
        
    }
}


