.parallax {
    background-image: url(/assets/paralaxProf.jpg);
    padding:100px;
    height: 400px;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    margin-top: -20px;
    z-index: -10;
}