.contact {
    display: flex;
    flex-direction: column;
}
.card-container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-content: center;
     
}
.card {
    grid-row: 1/-1;
    grid-column: 2/3;
    height: 45%;
    width: 60%;
    margin: 50px;
    display: grid;
    grid-template: 1fr 1fr;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    background-color: white;
    
    align-self: center;
    &__label {
        grid-row: 1/2;
        color: $color-blue;
        font-size: 30px;
        text-align: center;
    }
    &__labels {
        grid-row: 1/2;
        color: white;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
    }
    &__labele {
        grid-row: 1/2;
        color: $color-red;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
    }
    &__input {
        border-radius: 5px;
        text-align: center;
        height: 40px;
        width: 60%;
        color: $color-red;
        margin: 15px;
        box-shadow: none;
        border: 2px solid $color-red-st;
        background-color: $color-blue-st;

        &::placeholder {
            color: white;
            font-size: 22px;

        }
    }
    &__inputs {
        border-radius: 5px;
        text-align: center;
        height: 85px;
        width: 75%;
        color: white;
        margin: 15px;
        box-shadow: none;
        border: 2px solid $color-red-st;
        background-color: $color-blue-st;

        &::placeholder {
            color: white;
            font-size: 22px;

        }
    }
    &__button {
        height: 45px;
        width: 45%;
        border-radius: 5px;
        border: none;
        background-color: $color-gold;
        color: white !important;
        text-align: center;
        font-size: 28px;
        &-right {
            justify-self: start;
            align-self: center; 
            grid-column: 3/4; 
            background-color: $color-blue;
            height: 45px;
            width: auto;
            border-radius: 5px;
            border: none;
            color: white !important;
            text-align: center;
            font-size: 28px;
            &:hover{
                color: $color-grey !important;
            }
        }
        &-left{
            justify-self: end;
            align-self: center;
            grid-row: 1/-1;
            grid-column: 1/2;
            background-color: $color-blue;
            height: 45px;
            width: auto;
            border-radius: 5px;
            border: none;
            text-align: center;
            font-size: 28px;
            color: white !important;
            &:hover{
            color: $color-grey !important;
            }
        }
    }
}


.card-home{
    grid-row: 1/-1;
    grid-column: 2/3;
    height: 45%;
    width: 90%;
    margin: 50px;
    justify-content: center;
    align-items: center;
    background-color: $color-grey;
    border-radius: 5px;

}
.cardh{
    &__button{
        width: 100%;
        border-radius: 5px;
        border: none;
        margin: 20px;
        color: white !important;
        text-align: center;
        font-size: 40px;
        font-weight: 300;

    }
    &__labels{
        color: white;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        width: 100%;
        border-bottom: 2px solid $color-red;
    }
}

.cardflex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}