.app{
    &__content{
        height: 90vh;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        align-content: center;
        justify-items: center;
        & > * {
            grid-row: 1/-1;
            grid-column: 1/-1;
        }
        &__text {
            height: 50px;
            width: 800px;
            align-self: center;
            justify-self: center; 
            color: $color-white;
            font-size: 25px;
            text-align: center;
            font-weight: 300;
            background-color: $color-red-st;
            box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
        }
        &__redbox{
            height: 50px;
            width: 800px;
            background-color: $color-blue;
            align-self: center;
            justify-self: center;
            z-index: -5;
            margin-left: 10px;
            margin-top: 12px;
        }
    }
}