@import 'variables';
@import '/header/header';
@import 'title';
@import '/background/parallax';
@import '/background/video';
@import '/background/backpic';
@import '/home/homecontent';
@import 'header/header-link';
@import 'about/about';
@import 'projects/projects';
@import 'contact/contact';

body {
    height: 100vh;
    width: 100vw;
    font-family: $font-Sans;
    word-spacing: 2px;
    font-size: 100%;
}

a {
    color: $color-blue !important;
    text-decoration: none !important;
    &:hover {
        color: $color-blue !important;
    text-decoration: none !important;
    }
}

.backpic{
    background-image: url(/assets/backpic.jpg);
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100% 145vh;
}

.bar{
    width: 85%;
    height: 2px;
    border: 2px solid $color-blue;
    align-self: center;
    justify-self: center;
}

.title {
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
}