$color-blue: #441b40cc;
$color-blue-st: #353535e5;
$color-red: #441b40cc;
$color-red-st: #441b40cc;
$color-red-d: #55221e;
$color-grey: rgb(80, 80, 80);
$color-gold: rgb(184, 136, 16);
$color-white: #E4EDEA;


$font-Mont: 'Montserrat';
$font-Sans: 'Open Sans';