$color-blue: #263248;
$color-blue-st: #263248e5;
$color-red: #6b2d29;
$color-red-st: #55221ecc;
$color-red-d: #55221e;
$color-grey: #86929C;
$color-gold: rgba(184, 136, 16, 0.596);
$color-white: #E4EDEA;


$font-Mont: 'Montserrat';
$font-Sans: 'Open Sans';